<div class="selfIntroStyle">
    <h3>about me</h3>
    <img src="../../Images/underline.jpg" />
    <p>{{ mybriefIntro }}</p>
</div>
<div class="redirectPanel">
    <table>
        <tr>
            <td><span>Jump to Page:</span></td>
        </tr>
        <tr>
            <td><a href="/resume">Resume Page</a></td>
        </tr>
        <tr>
            <td><a href="/portfolio">Portfolio Page</a></td>
        </tr>
        <tr>
            <td><a href="/contact">Contact Form</a></td>
        </tr>
    </table>
</div>

<div class="testimonialsStyle">
    <h3>Testimonials</h3>
    <img src="../../Images/underline.jpg" />
    <table ng-repeat="aReferee in myReferees">
        <tr>
            <td>{{ aReferee.Comment }}</td>
        </tr>
        <tr>
            <td>--{{ aReferee.RefereeName }}</td>
        </tr>
    </table>
</div>


